body {
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Playfair Display;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    /* identical to box height */
    letter-spacing: 0.05em;
    /* color: #F24472; */
}

.text-center {
    text-align: center;
}

.ma-0 {
    margin: 0px;
}

.text-white {
    color: white;
}

.py-5 {
    padding: 10px 0px;
}

.relative-podition {
    position: relative;
}

/* 
carosel

*/

.home-into-carosel {
    width: 500px;
}

.home-into-carosel .carosel-pic-item {
    position: relative;
    height: fit-content;
    overflow: hidden;
}

.home-into-carosel .carosel-pic-item * {
    color: white;
}

.home-into-carosel .carosel-pic-item .CheckButton {
    margin-top: 40px;
    color: white;
    font-size: 25px;
    border: 3px solid white;
    text-transform: capitalize;
}

/* 


*/

.special-carosel {
    width: 100%;
}

.special-carosel .special-carosel-item {
    position: relative;
    height: fit-content;
    overflow: hidden;
}

.special-carosel .special-carosel-item * {
    color: white;
}

.special-carosel .special-carosel-item .CheckButton {
    margin-top: 40px;
    color: white;
    font-size: 25px;
    border: 3px solid white;
    text-transform: capitalize;
}

/* 

*/