

.map {
    height: 500px;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.shadow-4 {
    box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px rgba(0, 0, 0, 0.14), 0 1px 10px rgba(0, 0, 0, 0.12);
}

