.p-takeover--k8s {
    background-blend-mode: multiply, multiply, normal, normal;
    background-color: #F24472;
    background-image: linear-gradient( to bottom left, #F24472 0, #F24472 49.9%, transparent 50%), linear-gradient( to bottom right, #f8638bc0 0, #f8638bc0 49.9%, transparent 50%), linear-gradient( to top left, #fff 0%, #fff 49.3%, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0) 100%), linear-gradient(74deg, #F24472 0%, #f8638bc0 92%);
    color: #fff;
    background-position: top right, top left, right bottom -1px, left top;
    background-repeat: no-repeat;
    background-size: 74% 99.83%, 68% 91%, 103.8% 20.26%, 100% 99.8%;
    margin: 0;
    padding-bottom: 11rem;
    padding-top: 6rem;
    clear: both;
    position: relative;
    width: 100%;
}

@media (max-width: 875px) {
    .p-takeover--k8s {
        background-position: top right, top left, right bottom -1px, left top;
        background-repeat: no-repeat;
        background-size: 135% 97.83%, 148% 83%, 119% 13%, 100% 99.83%;
        padding-bottom: 8rem;
        padding-top: 4rem;
    }
}



.slider-box {
    position: relative;
    height:fit-content;
    background: white;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.5);
}